.header {
    display: flex;
   flex-direction: column;
    
}

img {
    border-radius: 30px;
    margin: 10px 50px;
}

.header-src {
background-color: rgb(172, 171, 171);
display: flex;
justify-content: space-between;
}

input {
width:200px;
margin:20px 50px;
border-radius: 20px;
outline: none;
border: none;
}

.header-cart {
border:1px solid black;
height: 70px;
}

.cart {
    color: rgb(156, 146, 148);
    font-size: 16px;
    font-weight: 100;
    float:right;
    background-color: #fff;
    border: 1px solid rgb(129, 126, 126);
    border-radius: 20px;
    margin: 30px 50px;
    width: 100px;
    
}


.goods-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    padding: 40px 50px;
    
}

.goods-item {
    border:1px solid black;
    width: 200px;
    height: 200px;
    margin: 10px 50px;
}

.goods-item button {
    border:1px solid black;
    background-color: #fff;
}

.goods-img {
    width: 50px;
    height: 50px;
}